<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item (click)="goTo('card')">Card</mat-list-item>
      <mat-list-item (click)="goTo('expansion')">Expansion</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="goTo('list')">List</mat-list-item>
      <mat-list-item (click)="goTo('buttons')">Buttons & indicators</mat-list-item>
      <mat-list-item (click)="goTo('form')">Form</mat-list-item>
      <mat-list-item (click)="goTo('table')">Table</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Custom Toolbar</span>
        <button mat-button (click)="sidenav.toggle()">Show sidenav</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <app-card-example *ngIf="page==='card'"></app-card-example>
    <app-expansion *ngIf="page==='expansion'"></app-expansion>
    <app-list *ngIf="page==='list'"></app-list>
    <app-buttons *ngIf="page==='buttons'"></app-buttons>
    <app-form *ngIf="page==='form'"></app-form>
    <app-table *ngIf="page==='table'"></app-table>
  </mat-sidenav-content>
</mat-sidenav-container>